.App {
	text-align: center;
	position: relative;
}

.demo-modal {
	width: 600px;
	position: absolute;
	z-index: 1;
	color: whitesmoke;
	background-color: rgba(30, 30, 30, 0.8);
	padding: 24px;
	border-radius: 6px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	left: 50%;
	top: 15vh;
	transform: translateX(-50%);

	&__h1 {
		margin: 0 0 8px 0;
		font-size: 32px;
	}

	&__h2 {
		margin: 16px 0 8px 0;
		font-size: 24px;
	}

	&__p {
		margin: 0 0 8px 0;
		font-size: 18px;
	}
}